{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
    <h1 class="btn btn-primary">Create new Auteur</h1>

    {{ include('auteur/_form.html.twig') }}

    <a href="{{ path('auteur_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
